*{
    
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.profile{
    display: flex;
    height: 100vh;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 40px;
}
span{
    color: rgb(219, 7, 49);
    text-shadow: 2px 2px 4px gray;
}
.button_link{
    background-image: linear-gradient(#FF416C,crimson);
    padding: 6px 12px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
}
button:hover{
    background-color: black;
}
.button_link a{
    color:white;
    text-decoration: none;
}
.half-width1{
    margin-top: 70px;
    width: 50%;
    padding-left: 5%;
}
.half-width1 p{
    text-align: justify;
}
.half-width2{
    width: 50%;
    padding-left: 10%;
}
.half-width2 img{
    margin-top: 18%;
    width: 60%;
    height: 60%;
    border-radius: 210px;
    box-shadow: 5px 5px 3px gray;
}
.dream_page{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 240px;
}
.heading{
    color: crimson;
    text-shadow: 2px 2px 2px gray;
}
.half-width3{
    width: 50%;
    padding-left: 10%;
}
.half-width3 img{
    margin-top: 18%;
    width: 60%;
    height: 60%;
    border-radius: 210px;
    box-shadow: 5px 5px 3px gray;
}
.half-width4{
    margin-top: 70px;
    width: 50%;
    padding-right: 8%;
}
.half-width4 p{
    text-align: justify;
}
