*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.profile{
    display: flex;
    height: 100vh;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 40px;
}
span{
    color: rgb(219, 7, 49);
    text-shadow: 2px 2px 4px gray;
}
.button_link{
    background-image: linear-gradient(#FF416C,crimson);
    padding: 6px 12px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
}
.button_link a{
    color:white;
    text-decoration: none;
}
.half-width1{
    margin-top: 70px;
    width: 55%;
    padding-left: 5%;
}
.half-width1 p{
    text-align: justify;
}
.half-width2{
    width: 50%;
    padding-left: 10%;
}
.half-width2 img{
    margin-top: 18%;
    width: 60%;
    height: 60%;
    border-radius: 210px;
    box-shadow: 5px 5px 30px gray;
}
.dream_page{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 240px;
}
.heading{
    color: crimson;
    text-shadow: 2px 2px 2px gray;
}
.half-width3{
    width: 50%;
    padding-left: 10%;
}
.half-width3 img{
    margin-top: 18%;
    width: 60%;
    height: 60%;
    border-radius: 50px;
    box-shadow: 5px 5px 40px gray;
}
.half-width4{
    margin-top: 70px;
    width: 50%;
    padding-right: 8%;
}
.half-width4 p{
    text-align: justify;
}
.exprience_page{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 240px;
}
.e_heading{
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px 2px gray;
}
.line{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    position: relative;
}
.logo{
    align-items: center;
    position: absolute;
    height: 12px;
    width: 12px;
    border: 1px solid red;
    margin-bottom: 15px;
    margin-top: 4px;
    border-top-left-radius: 12px;
    border-top-right-radius: 1px;
    transform: rotate(222deg);
    top: 3px;

}
.a{
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: gray;
    left: 44.1%;
    border-radius: 6px;
    border-style: none; 
}
.b{
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: gray;
    left: 51.5%;
    border-radius: 6px;
    border-style: none;
}
.container{
    display: flex;
    margin-top:40px;
}
.card{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
}
.card h1{
    text-align: center;
    color: darkslategray;
    text-shadow: 2px 2px 2px gray;
}
.card h3{
    text-align: center;
    
}
#border-1{
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(#ff9966,#ff5e62);
    border-image-slice: 1;
}
#border-2{
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(#ff9966,#ff5e62);
    border-image-slice: 1;
}